// MOBILE NAV MENU BUTTON
.menu-btn {
  position: absolute;
  left: 2rem;
  top: 3rem;
  z-index: 3;
  cursor: pointer;
  @include easeOut;
  &.close {
    position: fixed;
  }

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: black;
    @include easeOut;
  }

  // add the transition to the menu button when it's clicked
  &.close {
    transform: rotate(180deg);
    .btn-line {
      background: $logo-purple;
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

//CONTACT BUTTON IN NAV
.Button {
  text-decoration: none;
  color: black;
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid $secondary-color;
  font-size: 1rem;
  border-radius: 4px;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 16px;
  cursor: pointer;
  &:hover {
    border-color: $logo-teal;
    color: $logo-teal;
  }
  @include respond-to('small') {
    font-size: 1.5rem;
  }
}

// ESTIMATE BUTTON
.estimate-component {
  .get-estimate {
    text-align: center;
  }
  .estimate-button {
    display: flex;
    justify-content: center;
  }
  .Button {
    border: none;
    padding: 0 6rem;
    color: #fff;
    background-color: $logo-teal;
    &:hover {
      background-color: darken($color: $logo-teal, $amount: 20);
    }
  }
}
