.contact-requiredField {
  font-style: italic;
}
.contact-header {
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-bottom: 1px solid #e2e8f0;
}
.contact-divider {
  border-bottom: 1px solid #e2e8f0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.contact-section-title {
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  span {
    padding-top: 0.25rem;
    padding-left: 0.75rem;
    font-size: 1.6rem;
  }
}
.contact-info,
.contact-address {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  label {
    display: block;
  }
  input {
    display: block;
    width: 100%;
  }
  .contact-info-feet {
    width: 200px;
  }
}
.contact-submit {
  padding: 0 20%;
  input {
    width: 100%;
    max-width: 290px;
    height: 100%;
    font-size: 18px;
    color: #1a202c;
    background-color: $logo-teal;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 20px 0;
    margin-top: 2.5rem;
  }
}
