.inc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 4rem 1.5rem 1.5rem 1.5rem;

  .inc-intro {
    margin: 0 auto;
  }

  .inc-intro h2 {
    font-size: 3rem;
    text-align: center;
  }

  .inc-intro p {
    font-size: 1.8rem;
    line-height: 1.6;
    padding-bottom: 4rem;
  }
  .screenshot {
    padding-bottom: 8rem;
  }
  .one-column,
  .two-column {
    h2,
    h3,
    p {
      padding: 0 2rem;
    }
    h2,
    h3 {
      text-align: left;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1.8rem;
      line-height: 1.6;
      text-align: justify;
    }
    img {
      padding: 0 2rem;
    }
  }
  .inc-color,
  .inc-size {
    display: flex;
    justify-content: center;
  }

  .inc-bulbs {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .background-wrapper {
    background-color: lighten($logo-purple, 15%);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .pros-cons {
    width: 100%;
    padding-top: 4rem;
    h2,
    p {
      padding: 0 2rem;
    }
    h2 {
      text-align: center;
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 1.6;
      text-align: justify;
    }
  }
  .pros,
  .cons {
    h3 {
      font-size: 2rem;
      text-align: left;
    }

    ul {
      list-style-type: none;
      margin-left: 0;
      padding-left: 3em;
      text-indent: -2.5em;
      text-align: left;
    }
    li {
      padding-bottom: 1rem;
      font-size: 1.5rem;
    }

    li:before {
      content: '\1F4A1';
      margin-right: 5px;
    }
  }
  .two-column {
    width: 100%;
    margin-bottom: 4rem;
  }
  .two-column:last-of-type {
    margin-bottom: 0;
  }

  // SMALL BREAKPOINTS
  .two-column {
    @include respond-to('small') {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 8rem;

      &.row-reverse {
        flex-direction: row-reverse;
      }
    }
  }
  .two-column:last-of-type {
    @include respond-to('small') {
      margin-bottom: 0;
    }
  }
  .pros-cons {
    display: flex;
    justify-content: center;
  }

  .two-column,
  .inc-intro,
  .pros-cons-wrapper {
    @include respond-to('small') {
      width: 680px;
    }
  }

  .col {
    @include respond-to('small') {
      width: 330px;
    }
  }

  // MEDIUM BREAKPOINTS
  .two-column,
  .inc-intro,
  .pros-cons-wrapper {
    @include respond-to('medium') {
      width: 868px;
    }
  }

  .col {
    @include respond-to('medium') {
      width: 424px;
    }
  }

  .screenshot {
    @include respond-to('medium') {
      max-width: 1016px;
      margin: 0 auto;
    }
  }

  // LARGE BREAKPOINTS
  .two-column,
  .pros-cons-wrapper {
    @include respond-to('large') {
      width: 1016px;
    }
  }

  .col {
    @include respond-to('large') {
      width: 498px;
    }
  }
}
