.lighting-hero {
  max-width: 375px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 6rem 1.5rem 1.5rem 1.5rem;
  .eyebrow {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .title {
    font-size: 4rem;
    line-height: 1.2;
  }
  .estimate-button {
    display: flex;
    justify-content: center;
  }
  .Button {
    border: none;
    color: #fff;
    padding: 0 6rem;
    background-color: $logo-teal;
    &:hover {
      background-color: darken($color: $logo-teal, $amount: 20);
    }
  }
}
