@import 'variables';

// MEDIA QUERY HANDLER
@mixin respond-to($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

// HANDLE TEXT OVER IMAGES
@mixin promoText {
  text-align: center;
  position: absolute;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0 2rem;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// STYLE FOR THE PROMO ITEMS
@mixin promoItem {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include respond-to('small') {
  }
  .Promo-text {
    @include promoText;
  }
}

// ALIGN THE PROMO ITEMS IN THE GRID
@mixin promoSpace {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
}

// TRANSITION FOR THINGS
@mixin easeOut {
  transition: all 0.5s ease-out;
}

// ADD OVERLAY TO IMAGES WITH TEXT SO TEXT SHOWS
@mixin darkenImage {
  background-color: #000000;
  img {
    opacity: 0.45;
  }
}

// STYLING THE FOOTER LISTS
@mixin footerList {
  ul {
    text-align: center;
    list-style: none;
    padding: 0;
  }
}
