// FOOTER
.SiteFooter {
  margin-top: 2rem;
  padding: 2.5rem 0;
  background: $footer-background;
}
.SiteFooter-Content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  justify-items: center;
  @include respond-to("small") {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;

    .Footer--serviceArea {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .Footer--contact {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .Footer--linksCol {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }
}

.Footer--logoRow {
  img {
    width: 200px;
    height: auto;
  }
}
.Footer--contact {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include footerList;
  .Button {
    text-align: center;
    width: 24rem;
    color: #eee;
  }
  li {
    display: inline;
  }
  li:first-child {
    padding-right: 2rem;
  }
  i {
    color: $logo-teal;
    &:hover {
      color: $logo-purple;
    }
  }
  .terms {
    font-size: 1.5rem;
    text-decoration: none;
    color: $logo-teal;
    margin-bottom: 3rem;
    letter-spacing: 1px;
    &:hover {
      color: $logo-purple;
    }
  }
}

.Footer--serviceArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $secondary-color;
  @include footerList;
  h3 {
    margin: 0;
    font-size: 2rem;
  }
  li {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}
.Footer--linksCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  h3 {
    color: $secondary-color;
    margin: 0;
    font-size: 2rem;
  }
  p {
    color: $secondary-color;
  }
  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: $logo-teal;
    &:hover {
      color: $logo-purple;
    }
  }
}
