// FORCE IMAGES INTO CONTAINERS
img {
  max-width: 100%;
}

//GLOBALS THAT APPLY TO ALL
.App-main {
  min-height: 100vh;
}
.App-content {
  padding: 0 1rem;
  margin: 0 auto;
  @include respond-to('medium') {
    padding: 0 2rem;
    max-width: 1400px;
  }
}
.Block {
  margin: 0 auto;
}
.Block--text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  max-width: 800px;
}
.Block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Block-sm-title--small {
  font-size: 1.2rem;
}
.Block-title {
  flex-direction: row;
  flex: 0 1 auto;
  margin-bottom: 3rem;
  letter-spacing: 0.3rem;
  line-height: 2.7;
  text-align: center;
  text-transform: uppercase;
  h2 {
    flex: auto;
  }
}

// GRID LAYOUT SECTION
// USING A MOBILE FIRST APPROACH, THEN MEDIA QUERY UP FROM THERE
.wrapper {
  display: grid;
}
//  HERO
.Hero-container {
  display: grid;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  @include respond-to('medium') {
    max-height: 784px;
  }
}
// TITLE SECTION
#content.Block {
  margin-top: 5rem;
}

// PROMO SECTION
.Block--promo-grid {
  @include promoSpace;
  @include respond-to('small') {
    grid-template-columns: 1fr 1fr;
    margin-top: 10rem;
  }
}
.Promo--itemMen {
  @include promoItem;
}
.Promo--itemWomen {
  @include promoItem;
}

// SCOTT SPEEDMAN SECTION
.Block--1000px {
  margin-top: 5rem;
  max-width: 1000px;
  @include respond-to('small') {
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
}
.u-marginTm {
  margin-top: 1rem;
  @include respond-to('small') {
    margin-top: 4rem;
  }
}
.u-marginTl {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.Type {
  p {
    font-size: 1.4rem;
    line-height: 2.7;
  }
}

// HOW WE WEAR IT FEATURES SECTION
.Block--how-wear-grid {
  @include promoSpace;
  @include respond-to('small') {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'weWear weWear'
      'about contact'
      'japan japan';
    .weWear {
      grid-area: weWear;
    }
    .about {
      grid-area: about;
    }
    .contact {
      grid-area: contact;
    }
    .japan {
      grid-area: japan;
    }
  }
}
.Grid-cell {
  img {
    display: block;
    width: 100%;
  }
  a {
    display: block;
    position: relative;
  }
  .Promo-text {
    @include promoText;
  }
}
